.library-course {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 50px 1fr;
  background: cornflowerblue;

  &_title-check {
    grid-row: 1/2;
    display: flex;
  }

  &_arrow {
    grid-row: 1/2;
  }

  &_action {
    grid-row: 1/2;
  }

  &_description {
    grid-row: 2/3;
  }
}
