.progress-tracker {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 75px;
  background-color: rgba(255, 255, 255, 0.3);

  &_title {
    grid-column: 1/2;
  }

  &_percentage {
    grid-column: 2/3;
  }
}
